<!-- SECTION about Us-->
<section class="about-us" id="about-us">
  <div class="container">
    <div class="about-us__text">
      <h2 class="about-us__title">About</h2>
      <p class="about-us__subtitle">
        Our web development team is committed to delivering exceptional web solutions that meet the needs of our clients
        and their users. We are passionate about staying <nobr>up-to-date</nobr> with the latest web development technologies and
        best practices, and we are always striving to improve our skills and processes to ensure that we deliver the
        best possible outcomes for our clients.
      </p>
    </div>
    <div class="about-us__us-row">
      <a href="#" class="card__Olya">
        <img src="/img/about/Olya.png" alt="Olya" class="card__Olya-img" />
        <div class="card__Olya__body">
          <p class="card__Olya__name">Olya Zhuleva</p>
          <p class="card__Olya__role">Frontend Developer</p>
        </div>
      </a>
      <a href="#" class="card__Ruslan">
        <img src="/img/about/Ruslan.png" alt="Ruslan" class="card__Ruslan-img" />
        <div class="card__Ruslan__body">
          <p class="card__Ruslan__name">Ruslan Savchuk</p>
          <p class="card__Ruslan__role">Frontend Developer</p>
        </div>
      </a>
      <a href="#" class="card__Alexandr">
        <img src="/img/about/Alexander.png" alt="Alexandr" class="card__Alexandr-img" />
        <div class="card__Alexandr__body">
          <p class="card__Alexandr__name">Alexander Minchenkov</p>
          <p class="card__Alexandr__role">Lead Frontend Developer</p>
        </div>
      </a>
      <a href="#" class="card__Valery">
        <img src="/img/about/Valery.png" alt="Valery" class="card__Valery-img" />
        <div class="card__Valery__body">
          <p class="card__Valery__name">Valery Chyzhykau</p>
          <p class="card__Valery__role">Backend Developer</p>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- //SECTION about Us-->