
<div class="about">
    <div class="about__container">
        <div class="about__title">About</div>
        <div class="about__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quos odio quia 
            eligendi recusandae voluptatibus ratione porro, exercitationem commodi. 
            Quod, quis! Repellat animi nisi amet, dolore odio laborum? Dicta, voluptatem? </div>
        <div class="about__contacts ">
            <div class="about__contacts-items">
                <div class="about__contacts-photo" >
                </div>
                <div class="about__contacts-title">lorem</div>
                <div class="about__contacts-text"></div>
            </div>
            <div class="about__contacts-items">
                <div class="about__contacts-photo">
                </div>
                <div class="about__contacts-title">lorem</div>
                <div class="about__contacts-text"></div>
            </div>
            <div class="about__contacts-items">
                <div class="about__contacts-photo">
                </div>
                <div class="about__contacts-title">lorem</div>
                <div class="about__contacts-text"></div>
            </div>
            <div class="about__contacts-items">
                <div class="about__contacts-photo">
                </div>
                <div class="about__contacts-title">lorem</div>
                <div class="about__contacts-text"></div>
            </div>
        </div>
    </div>
</div>