<div class="getInTouch">
    <div class="getInTouch__container">
        <div class="getInTouch__title">Get in touch</div>
        <form class="getInTouch__form form">
            <div class="form__input">
                <div class="form__left">
                    <input name="name" placeholder="Name">
                    <input name="name" placeholder="Lastname">
                </div>
                <div class="form__right">
                    <input name="Email" type="email" placeholder="Email">
                    <input name="number" type="number"  placeholder="Phone number">
                </div>
            </div>
            <div class="form__textarea">
                <textarea name="message" placeholder="Message" style="width: 100%;
                height: 109px;"></textarea>
            </div>

            <button class="mySkills__button" >Submit now</button>
        </form>
    </div>
</div>