<div class="getInTouch" id="getInTouch">
    <div class="getInTouch__container">
        <div class="getInTouch__title">Get in touch</div>
        <div class="getInTouch__form-wrapper">
            <form class="getInTouch__form form" id="getInTouchForm">
                <div class="getInTouch__form__inputs">
                    <div class="getInTouch__form__top">
                        <div class="input-wrap">
                            <input name="first_name" placeholder="Name">
                            <div class="input-bottom"></div>
                        </div>
                        <div class="input-wrap">
                            <input name="last_name" placeholder="Last name">
                            <div class="input-bottom"></div>
                        </div>
                    </div>
                    <div class="getInTouch__form__bottom">
                        <div class="input-wrap">
                            <input name="email" type="email" placeholder="Email">
                            <div class="input-bottom"></div>
                        </div>
                        <div class="input-wrap">
                            <input name="phone_number" class="form__phone-number" type="number"
                                placeholder="Phone number">
                            <div class="input-bottom"></div>
                        </div>
                    </div>
                </div>
                <textarea class="form__textarea" name="message" placeholder="Message"></textarea>

                <button type="submit" class="mySkills__button">Submit now</button>
            </form>
            <div class="getInTouch__successful">
                <div class="getInTouch__successful-circle">
                    <img src="../img/white_mark.svg" alt="successful mark">
                </div>
            </div>
        </div>
    </div>
</div>