<div class="ourSkills" id="ourSkills">
    <div class="ourSkills__container">
        <div class="ourSkills__title">Our Skills</div>
        <div class="ourSkills__swiper-wrapper">
            <div class="ourSkills__slider">
                <div class="ourSkills__item">
                    <div class="ourSkills__progress">50%</div>
                    <div class="ourSkills__text">html</div>
                </div>
                <div class="ourSkills__swiper-slide">
                    <div class="ourSkills__item">
                        <div class="ourSkills__progress">20%</div>
                        <div class="ourSkills__text">css</div>
                    </div>
                </div>
                <div class="ourSkills__swiper-slide">
                    <div class="ourSkills__item">
                        <div class="ourSkills__progress">10%</div>
                        <div class="ourSkills__text">javascript</div>
                    </div>
                </div>
                <div class="ourSkills__swiper-slide">
                    <div class="ourSkills__item">
                        <div class="ourSkills__progress">2%</div>
                        <div class="ourSkills__text">php</div>
                    </div>
                </div>
                <div class="ourSkills__swiper-slide">
                    <div class="ourSkills__item">
                        <div class="ourSkills__progress">50%</div>
                        <div class="ourSkills__text">angular</div>
                    </div>
                </div>
                <div class="ourSkills__swiper-slide">
                    <div class="ourSkills__item">
                        <div class="ourSkills__progress">20%</div>
                        <div class="ourSkills__text">react</div>
                    </div>
                </div>
                <div class="ourSkills__swiper-slide">
                    <div class="ourSkills__item">
                        <div class="ourSkills__progress">10%</div>
                        <div class="ourSkills__text">nestjs</div>
                    </div>
                </div>
                <div class="ourSkills__swiper-slide">
                    <div class="ourSkills__item">
                        <div class="ourSkills__progress">2%</div>
                        <div class="ourSkills__text">nodejs</div>
                    </div>
                </div>
                <div class="ourSkills__swiper-slide">
                    <div class="ourSkills__item">
                        <div class="ourSkills__progress">50%</div>
                        <div class="ourSkills__text">jsAnimation</div>
                    </div>
                </div>
                <div class="ourSkills__swiper-slide">
                    <div class="ourSkills__item">
                        <div class="ourSkills__progress">20%</div>
                        <div class="ourSkills__text">expressjs</div>
                    </div>
                </div>
                <div class="ourSkills__swiper-slide">
                    <div class="ourSkills__item">
                        <div class="ourSkills__progress">10%</div>
                        <div class="ourSkills__text">design</div>
                    </div>
                </div>
                <div class="ourSkills__swiper-slide">
                    <div class="ourSkills__item">
                        <div class="ourSkills__progress">2%</div>
                        <div class="ourSkills__text">prototyping</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>