<div class="promo">
    <div class="promo__container">
        <div class="promo__content">
            <h1 class="promo__title">Hi, I am<br>
                Oyindamola Bakare
            </h1>
            <div class="promo__sub-title">Frontend Developer</div>
            <div class="promo__buttons">
                <button class="promo__button-g" type="submit">Download CV</button>
                <button class="promo__button-b" type="submit">Learn More</button>
            </div>
        </div>
        <div class="promo__image"><img src="../img/people.png" alt="People"></div>
    </div>
</div>

    
    
   
