<div class="promo">
    <div class="promo__container">
        <div class="promo__content">
            <h1 class="promo__title">Hi, We are<br>
                <span class="promo__codego-color">CODE_GO team</span>
            </h1>
            <div class="promo__sub-title">
                <!-- Passionate Developers -->
                We create websites and landing pages <br>
                to increase sales in your business
            </div>
            <div class="promo__icons">
                <a href="https://t.me/MorningCappuccino" class="promo__icon">
                    <svg>
                        <use href="#telegram" />
                    </svg>
                </a>
                <a href="https://www.linkedin.com/in/alexander-minchenkov/" class="promo__icon">
                    <svg>
                        <use href="#linkedin" />
                    </svg>
                </a>
                <a href="https://www.facebook.com/AlexandrMinchenkov" class="promo__icon">
                    <svg>
                        <use href="#facebook" />
                    </svg>
                </a>
                <a href="https://github.com/MorningCappuccino" class="promo__icon">
                    <svg>
                        <use href="#github" />
                    </svg>
                </a>
            </div>
            <p class="promo__text">Write to us, we are online!</p>
            <!-- <div class="promo__buttons">
                <button class="promo__button-g" type="submit">Download CV</button>
                <button class="promo__button-b" type="submit">Learn More</button>
            </div> -->
        </div>
        <div class="promo__image_wrapper">
            <!-- <img src="../img/people.png" alt="People" class="promo__image"> -->
        </div>
    </div>
    <canvas id="galaxy" class="promo__canvas" />
</div>