<div class="promo">
    <div class="promo__container">
        <div class="promo__content">
            <h1 class="promo__title">Hi, We are<br>
                CODE_GO team
            </h1>
            <div class="promo__sub-title">Passionate Developers</div>
            <div class="promo__buttons">
                <button class="promo__button-g" type="submit">Download CV</button>
                <button class="promo__button-b" type="submit">Learn More</button>
            </div>
        </div>
        <div class="promo__image_wrapper">
            <!-- <img src="../img/people.png" alt="People" class="promo__image"> -->
        </div>
    </div>
    <canvas id="galaxy" class="promo__canvas" />
</div>