<div class="what">
    <div class="what__container">
        <div class="what__title">What i do</div>
        <div class="what__items">
            <div class="what__item">
                <div class="what__icon"><img src="../img/what/Vector1.svg" alt="Icon"></div>
                <div class="what__text">Software<br>
                    Development</div>
            </div>
            <div class="what__item">
                <div class="what__icon"><img src="../img/what/Vector2.svg" alt="Icon"></div>
                <div class="what__text">Web <br>Development</div>
            </div>
            <div class="what__item">
                <div class="what__icon"><img src="../img/what/Vector3.svg" alt="Icon"></div>
                <div class="what__text">Web<br>
                    Design</div>
            </div>
        </div>
    </div>
</div>