// === COLORS
$green: #27AE60;
$white: #fff;
$black: #212121;
$gray: #333333;
$gray2: #4F4F4F;
// END_COLORS

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 1000px,
);
%titlestyle {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: $white;
  text-align: center;
}
%textstyle {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: $white;
}
%button {
  width: 143px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  border: none;
  display: block;
  &:hover {
    background: #13492a;
    transition: $transition-duration;
  }
}
%what__item {
  width: 349px;
  height: 241px;
  background: $gray;
}
@mixin desktop-container() {
  @include respond-above(md) {
    min-width: 1000px;
    max-width: 1303px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

// === TRANSITION
$transition-function: ease-in-out;
$transition-duration: 200ms;
// === END_TRANSITION
