
    <header class="header">
        <div class="header__container">
            <h2 class="logo"><span class="logo__decor">{</span> code_go <span class="logo__decor">}</span></h2>
                <div class="header__icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header__navigation">
                    <nav class="navigation">
                        <a class="navigation__link"  href="#about-us">About me</a>
                        <a class="navigation__link"   href="#ourSkills">Services</a>
                        <a class="navigation__link"  href="#getInTouch" >Contact me</a>
                    </nav>
                </div>    
        </div>    
    </header>
  

