
<header class="header">
    <div class="header__container">
        <nav class="header__navigation">
            <a href="#">About me</a>
            <a href="#">Services</a>
            <a href="#">Contact me</a>
        </nav>
    </div>
</header>


    <header class="header">
        <div class="header__container">
            <h2 class="logo"> code_go </h2>
                <div class="header__icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header__navigation">
                    <nav class="navigation">
                        <a class="navigation__link" data-goto =".about" href="#">About me</a>
                        <a class="navigation__link"  data-goto=".what" href="#">Services</a>
                        <a class="navigation__link"  data-goto=".getInTouch" href="#">Contact me</a>
                    </nav>
                </div>    
        </div>    
    </header>
  

