
    <header class="header">
        <div class="header__container">
            <h2 class="logo"> code_go </h2>
                <div class="header__icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header__navigation">
                    <nav class="navigation">
                        <a class="navigation__link" data-goto =".about-us" href="#">About me</a>
                        <a class="navigation__link"  data-goto=".ourSkills" href="#">Services</a>
                        <a class="navigation__link"  data-goto=".getInTouch" href="#">Contact me</a>
                    </nav>
                </div>    
        </div>    
    </header>
  

