@import "global/vars";
@import "base/mixins";

.wrapper {
  background: $black;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
.main {
  flex: 1 1 auto;
}
.hello__container {
  @include desktop-container();
  display: flex;
  
  @include respond-below(md) {
    flex-wrap: wrap;
    justify-content: center;
  }
  
    .hello__content {
      margin-left: 48px;
      flex: 0 1 45%;
      @include respond-below(md) {
        margin-left: 0px;
      }
    
      .hello__title {
        @extend %titlestyle;
        margin-top: 39%;
        text-align: left;
        font-size: 48px; 
        @include respond-below(md) {
          font-size: 30px;
          margin-top: 38px;
          margin-left: 0px;
        }
      }
      .hello__sub-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #828282;
        padding-top: 9px;
      }
    } 

    .hello__image {
      overflow: hidden;
      padding-top: 8%;
      & img {
        border-radius: 50%;
        max-width: 100%;
        min-width: 326px;
        max-height: 100%;
      }
    }
    .hello__buttons {
      margin-top: 35px;
      padding-bottom: 215px;
      display: flex;

      .hello__button-g {
        @extend %button;
        background: $green;
        margin-right: 10px;
      }
      .hello__button-b {
        @extend %button;
        background: #171717;
        border: 1px solid #f2f2f2;
        &:hover {
          background: #474343;
        }
      }
    }
}    
/*------------about------------*/
.about {
  padding-top: 21px;
  padding-bottom: 42px;

  .about__container {
    @include desktop-container();
    @include mobile-container();
      display: flex;
      flex-direction: column;
      align-items: center;
      
    .about__title {
      @extend %titlestyle;
      text-align: center;
      @include respond-below(md) {
        font-size: 30px;
      }
    }
    .about__text {
      @extend %textstyle;
      text-align: center;
      margin: 38px 0 38px 0;
    }
    .about__contacts {
      width: 77%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      @include respond-below(md) {
        justify-content: center;
        align-items: center;
      }
      .contacts__items {
        text-align: center;
        width: 174px;
        margin: 20px 20px;
        
        .contacts__circle img {
          padding-top: 41%;
        }
        .contacts__circle {
          background: $gray2;
          border-radius: 50%;
          width: 62px;
          height: 62px;
          margin: 0 auto;
        }
        .contacts__title {
          padding-top: 18px;
          font-weight: 700;
          text-align: center;
          @extend %textstyle;
        }
        .contacts__text {
          @extend %textstyle;
        }
      }
    }
  }
}
/*--------------------What i do-------------------*/
.what {
    padding-top: 78px;
    padding-bottom: 60px; 

    .what__container {
        @include desktop-container();
        @include mobile-container();

        .what__title {
          @extend %titlestyle;
          text-align: center;
          @include respond-below(md) {
            font-size: 30px;
          }
        }
        .what__items {
          display: flex;
          justify-content: space-between;
          margin: 102px 4% 88px 65px ;

          @include respond-below(md) {
            flex-wrap: wrap;
            justify-content: center;
            margin: 0px;
          }
            .what__item {
              width: 30.5%;
              min-width: 257px;
              height: 241px;
              background: $gray;
              @include respond-below(md) {
                margin: 25px 25px;
                width: 40%;
              }
                .what__item:after {
                  content: '';
                  position: absolute;
                  width: 0;
                  height: 2px;
                  background: $green;
                  bottom: 0;
                  right: 0;
                  left: 0;
                  transition: all .5s;   
                  
                    &:hover { 
                      &:after {
                      width: 100%; 
                    }
                  }
                }
                .what__icon {
                  width: 57;
                  padding: 34px 0 0 13%;
                }
                .what__text {
                  font-weight: 500;
                  font-size: 36px;
                  line-height: 47px;
                  color: #535353;
                  padding: 29px 0 0 13%;
                    @include respond-below(md) {
                      font-size: 30px;
                    }
                    
                }
            }    
        }
    }

  
}

/*----------------------my skills---------------------*/
.mySkills {
  padding: 95px 0 69px 0;

  @include respond-below(md) {
    padding: 30px 0 30px 0;
  }
  .mySkills__container {
    @include desktop-container();

    .mySkills__title {
      @extend %titlestyle;
      text-align: center;
      margin-bottom: 73px;
      @include respond-below(md) {
        font-size: 30px;
      }
    }
    .mySkills__block {
      display: flex;
      justify-content: center;
    
      .mySkills__backg {
        display: flex;
        width: 1168px;
        height: 235px;
        background: $gray;
        margin: 0 15px;
        justify-content: space-around;
        align-items: center;
      
        .mySkills__progress {
          font-weight: 700;
          font-size: 72px;
          line-height: 94px;
          text-align: center;
          color: $gray2;
        }
        .mySkills__text {
          font-weight: 700;
          font-size: 24px;
          line-height: 31px;
          text-align: center;
          color: $green;
          text-transform: uppercase;
        }
      }
    }
  }
}
/*------------------Get in touch---------------*/
.getInTouch {
  padding-top: 31px;
  padding-bottom: 51px;

  .getInTouch__container {
    @include desktop-container();
    @include mobile-container();

        .getInTouch__title {
            @extend %titlestyle;
            padding-top: 31px;
            padding-bottom: 53px;
            @include respond-below(md) {
              font-size: 30px;
            }
        }
      .getInTouch__form {
          max-width: 750px;
          display: flex;
          justify-content: center;
          margin: 0 auto;
          flex-direction: column;
            
          .form__input {
            display: flex;
          }

          .form__left {
            margin-right: 37px;
          }
          input {
            width: 100%;
            margin-top: 30px;
            height: 28px;
            border: none;
            border-bottom: 1px solid $gray2;
            background-color: transparent;
            outline-style: none;
            }
            input:-webkit-autofill,
            input:-webkit-autofill:hover, 
            input:-webkit-autofill:focus,
            textarea:-webkit-autofill,
            textarea:-webkit-autofill:hover,
            textarea:-webkit-autofill:focus,
            select:-webkit-autofill,
            select:-webkit-autofill:hover,
            select:-webkit-autofill:focus {
              border: 1px solid $gray;
              -webkit-text-fill-color: $gray2;
              -webkit-box-shadow: 0 0 0px 1000px $black inset;
              transition: background-color 5000s ease-in-out 0s;
            }
            input::placeholder, 
            textarea::placeholder {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: $gray2;
            padding-bottom: 10px;
            font-family: 'Roboto', sans-serif;
            }
            .form__textarea {
              margin-bottom: 29px;
            }
            textarea {
            margin-top: 47px;
            max-width: 100%;
            height: 109px;
            border: 1px solid $gray2;
            background: $black;      
            padding: 10px 12px;
            }
            .mySkills__button {
                @extend %button ;
                background: $green;
                margin: 0 auto;
            }
        }
  }
}


