/*------------------Get in touch---------------*/
@import 'global/vars';
@import 'base/mixins';

.getInTouch {
  padding-top: 31px;
  padding-bottom: 51px;

  &__form-wrapper {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
  }

  &__container {
    @include container();
  }

  &__title {
    text-align: center;
    padding-top: 31px;
    // padding-bottom: 53px;
    font-weight: 700;
    line-height: 62px;
    color: $white;

    @include respond-above(md) {
      font-size: 48px;
    }

    @include respond-below(md) {
      font-size: var(--h-text-small);
      padding-bottom: 20px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;


    &__inputs {
      display: flex;
      flex-direction: column;

      .input-wrap {
        width: 100%;
      }

      input:focus+.input-bottom {
        width: 100%;
      }

      .input-bottom {
        width: 0;
        height: 1px;
        background: $green;
        transition: width .5s;
      }
    }

    &__top,
    &__bottom {
      display: flex;
      column-gap: 20px;

      @include respond-below(xs) {
        flex-direction: column;
      }
    }
  }

  .form__phone-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    // -moz-appearance: textfield;
  }

  input {
    width: 100%;
    height: 28px;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid $gray2;
    background-color: transparent;
    outline-style: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid $gray;
    -webkit-text-fill-color: $gray2;
    -webkit-box-shadow: 0 0 0px 1000px $black inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input::placeholder,
  textarea::placeholder {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $gray2;
    font-family: 'Roboto', sans-serif;
  }

  textarea {
    width: 100%;
    min-height: 109px;
    margin-top: 47px;
    margin-bottom: 29px;
    padding: 10px 12px;
    border: 1px solid $gray2;
    background: $black;
    transition: border $transition-duration;

    &:focus-visible {
      outline: none;
      border: 1px solid $green;
    }
  }

  .mySkills__button {
    display: block;
    padding: 14px 30px;
    margin: 0 auto;
    background-color: $green;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $white;
    cursor: pointer;
    border: 1px solid $green;
    transition: all $transition-duration;
    outline: none;

    &:hover {
      // background: #13492a;
      background: transparent;
      padding: 15px 32px;
      // transform: scale(1.1);

    }
  }

  @keyframes opa-anima {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes de-opa-anima {
    to {
      opacity: 0;
    }
  }

  @keyframes mark-anima {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(0.8);
    }
    45% {
      transform: scale(1.2);
    }
    60% {
      transform: scale(0.9);
    }
    70% {
      transform: scale(1.1);
    }
    80% {
      transform: scale(0.95);
    }
    90% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes de-mark-anima {
    to {
      transform: scale(0);
    }
  }

  &__successful {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray;
    display: none;

    &.active {
      display: flex;
    }

    &.activeD {
      // 3s infinite alternate slidein;
      animation: 1s opa-anima;
    }

    &.de-activeD {
      animation: 1s de-opa-anima;
    }

    &-circle {
      background: $green;
      border-radius: 50%;
      width: 160px;
      height: 160px;

      &.markD {
        animation: 1s mark-anima;
      }

      &.de-markD {
        animation: 1s de-mark-anima;
      }

      img {
        width: 100%;
        position: relative;
        top: 6px;
      }
    }
  }
}
