@mixin mobile-container() {
  @include respond-below(md) {
    min-width: 320px;
    padding: 0 20px;
  }
}

@mixin desktop-container() {
  @include respond-above(md) {
    min-width: 1000px;
    max-width: 1277px;
    margin: 0 auto;
    padding: 0 15px
  }
}

@mixin container() {
  @include mobile-container();
  @include desktop-container();
}


